# ========================
# Secrets
# ========================
.env

# ========================
# Python
# ========================
.venv/
__pycache__/
*.pyc
*.pyo

# ========================
# Logs
# ========================
logs/
*.log

# ========================
# BI exports
# ========================
bi_exports/

# ========================
# dbt artifacts
# ========================
dbt/**/target/
dbt/**/logs/
dbt/**/dbt_packages/
dbt/**/.user.yml


run_pipeline.cmd